{#=====================================================
  Home page
  - Hero style greeting banner
  - List of things passed in as 'things' array
  - Form for adding a new thing
=====================================================#}

{% extends 'pages/base.jinja' %}


{% block title %}

    Jaspers To Do List

{% endblock %}


{% block content %}

    <h1>Jaspers Flask ToDo List</h1>

    {% if session.user_id%}
        <article>
            <h3>Task To Do</h3>
            {% for task in tasks%}
                {%if not task.completed %}
                    <ul>
                        <p><a href="/complete/{{ task.id }} ">[]</a><strong>{{task.priority}}</strong> {{task.name}} </p>
                    </ul>
                {%endif%}
            {% endfor %}
        </article>

        
        <article>
            <h3>Completed Tasks</h3>
            {% for task in tasks%}
                {%if task.completed %}
                    <ul>
                        <p><a href="/uncomplete/{{ task.id }} ">[X]</a><strong>{{task.priority}}</strong> {{task.name}} </p>
                    </ul>
                {%endif%}
            {% endfor %}
        </article>

        <article>

            <h3>Add Task</h3>

            <form action="/add" method="POST">

                <input
                    type="text"
                    name="name"
                    placeholder="Task Name"
                    required
                >

                <input
                    type="number"
                    name="priority"
                    min="1"
                    max="5"
                    placeholder="1-5"
                    required
                >

                <button>Add Task!</button>

            </form>

        </article>
    {%endif%}

{% endblock %}

